@page "/"
@namespace MultiCloudAISelectionPlatform.Service.Pages
@using MultiCloudAISelectionPlatform.Common.Models
@using MultiCloudAISelectionPlatform.Logic

<h3>Cloud based AI Service Comparison</h3>

<div>This service lets you compare AI-Tools of different Cloud providers based on your data</div>
<div style="font-weight: italic">Potential further information</div>
